<div class="container">
    <h2 oda-label="activity-list.title"></h2>

    <div class="row">
        <div class="col-md-12">
            <span oda-label="home.hello"></span>
        </div>
        <div class="col-md-12">
            <div id="divGrant"/>
        </div>
    </div>
</div>

<style>
    .fc-resource-area {
        width: 9%;
    }
    .fc-sun {
        background-color: rgba(211, 211, 211, 0.24) !important;
    }
    .fc-sat {
        background-color: rgba(211, 211, 211, 0.24) !important;
    }
    .fc-today {
        background-color: #fa8080 !important;
    }
</style>

<script>
    $.Oda.App.Controler.ActivityList.start();
</script>