<div class="container">
    <h2 oda-label="home.title"></h2>

    <div class="row">
        <div class="col-md-12">
            <span oda-label="home.hello"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="text-align: center" id="pieEventByType">
            <oda-loading></oda-loading>
        </div>
        <div class="col-md-6" style="text-align: center" id="pieEventByLocation">
            <oda-loading></oda-loading>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.Home.start();
</script>