<div class="container">
    <h2 oda-label="manage-accounts.title"></h2>

    <div class="row">
        <div class="col-md-12" id="tabAccounts">
            <oda-loading></oda-loading>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" oda-label="oda-main.new" onclick="$.Oda.App.Controller.ManageAccounts.newAccount();">oda-main.new</button>
        </div>
    </div>
</div>

<script id="templateNewAccount" type="text/template">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="code" oda-label="manage-accounts.accountCode">accounts.accountCode</label>
                <input required type="text" class="form-control" oda-input-text="code" oda-input-text-tips="manage-accounts.accountCode-tips" oda-input-text-placeholder="manage-accounts.accountCode-placeholder" oda-input-text-check="Oda.Regexs:login">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="label" oda-label="manage-accounts.accountLabel">manage-accounts.accountLabel</label>
                <input required type="text" class="form-control" oda-input-text="label" oda-input-text-tips="manage-accounts.accountLabel-tips" oda-input-text-placeholder="manage-accounts.accountLabel-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="salesForce" oda-label="manage-accounts.accountSalesForce">manage-accounts.accountSalesForce</label>
                <input type="text" class="form-control" oda-input-text="salesForce" oda-input-text-tips="manage-accounts.accountSalesForce-tips" oda-input-text-placeholder="manage-accounts.accountSalesForce-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script id="templateEditAccount" type="text/template">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="code" oda-label="manage-accounts.accountCode">accounts.accountCode</label>
                <input value="{{code}}" required type="text" class="form-control" oda-input-text="code" oda-input-text-tips="manage-accounts.accountCode-tips" oda-input-text-placeholder="manage-accounts.accountCode-placeholder" oda-input-text-check="Oda.Regexs:login">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="label" oda-label="manage-accounts.accountLabel">manage-accounts.accountLabel</label>
                <input value="{{label}}" required type="text" class="form-control" oda-input-text="label" oda-input-text-tips="manage-accounts.accountLabel-tips" oda-input-text-placeholder="manage-accounts.accountLabel-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="salesForce" oda-label="manage-accounts.accountSalesForce">manage-accounts.accountSalesForce</label>
                <input value="{{salesForce}}" type="text" class="form-control" oda-input-text="salesForce" oda-input-text-tips="manage-accounts.accountSalesForce-tips" oda-input-text-placeholder="manage-accounts.accountSalesForce-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script id="templateNewItem" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="code" oda-label="manage-accounts.itemCode">accounts.itemCode</label>
                <input required type="text" class="form-control" oda-input-text="code" oda-input-text-tips="manage-accounts.itemCode-tips" oda-input-text-placeholder="manage-accounts.itemCode-placeholder" oda-input-text-check="Oda.Regexs:login">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="label" oda-label="manage-accounts.itemLabel">manage-accounts.itemLabel</label>
                <input required type="text" class="form-control" oda-input-text="label" oda-input-text-tips="manage-accounts.itemLabel-tips" oda-input-text-placeholder="manage-accounts.itemLabel-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="salesForce" oda-label="manage-accounts.itemSalesForce">manage-accounts.itemSalesForce</label>
                <input type="text" class="form-control" oda-input-text="salesForce" oda-input-text-tips="manage-accounts.itemSalesForce-tips" oda-input-text-placeholder="manage-accounts.itemSalesForce-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="charge" oda-label="manage-accounts.itemCharge">manage-accounts.itemCharge</label>
                <input type="number" class="form-control" oda-input-text="charge" oda-input-text-tips="manage-accounts.itemCharge-tips" oda-input-text-placeholder="manage-accounts.itemCharge-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script id="templateEditItem" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="code" oda-label="manage-accounts.itemCode">accounts.itemCode</label>
                <input value="{{code}}" required type="text" class="form-control" oda-input-text="code" oda-input-text-tips="manage-accounts.itemCode-tips" oda-input-text-placeholder="manage-accounts.itemCode-placeholder" oda-input-text-check="Oda.Regexs:login">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="label" oda-label="manage-accounts.itemLabel">manage-accounts.itemLabel</label>
                <input value="{{label}}" required type="text" class="form-control" oda-input-text="label" oda-input-text-tips="manage-accounts.itemLabel-tips" oda-input-text-placeholder="manage-accounts.itemLabel-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="salesForce" oda-label="manage-accounts.itemSalesForce">manage-accounts.itemSalesForce</label> {{urlSaleForce}}
                <input value="{{salesForce}}" type="text" class="form-control" oda-input-text="salesForce" oda-input-text-tips="manage-accounts.itemSalesForce-tips" oda-input-text-placeholder="manage-accounts.itemSalesForce-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="charge" oda-label="manage-accounts.itemCharge">manage-accounts.itemCharge</label>
                <input value="{{charge}}" type="number" class="form-control" oda-input-text="charge" oda-input-text-tips="manage-accounts.itemCharge-tips" oda-input-text-placeholder="manage-accounts.itemCharge-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
</script>

<script>
    $.Oda.App.Controller.ManageAccounts.start();
</script>